# Terraform Stuff
.terraform/
.terraform*
terraform.tfstate*
errored.tfstate
*.tfvars

# Cloud Function Stuff
.env
.env.yaml
dist/
function-source.zip
node_modules/

# JS/TS Stuff
# We use npm for dependency management
pnpm-lock.yaml

# Local Stuff
.project_vars_cache